# 0.0 Imports

In [65]:
import numpy as np
import pandas as pd
import seaborn as sns
import datetime

from matplotlib import pyplot as plt
import plotly.express as px

# 0.1 Load Dataset

In [150]:
data = pd.read_csv('kc_house_data.csv')

In [151]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

# 1.0 RESPONDENDO AS PERGUNTAS DO CEO

### 1. Quantas casas estão disponíveis para compra?

In [68]:
houses = len( data['id'].unique() )
print('o numero de casas disponiveis é de {}' .format(houses))

o numero de casas disponiveis é de 21436

### 2. Quantos atributos as casas possuem?

In [69]:
atributos = len( data.drop( (['id','date']), axis=1 ).columns)
print('o numero de atributos é de {}' .format(atributos))

o numero de atributos é de 19

### 3. Quais são os atributos das casas?

In [70]:
df = data.drop( (['id','date']), axis=1 ).columns
df

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

### 4. Qual a casa mais cara ( casa com o maior valor de venda )?

In [71]:
house_expensive = data[['id','price']].sort_values('price', ascending = False). loc[0, 'id']
house_expensive

7129300520

### 5. Qual a casa com o maior número de quartos?

In [72]:
df= data[['id', 'bedrooms']].sort_values('bedrooms', ascending = False)
df

               id  bedrooms
15870  2402100895        33
8757   1773100755        11
15161  5566100170        10
13314   627300145        10
19254  8812401450        10
...           ...       ...
19452  3980300371         0
8484   2310060040         0
875    6306400140         0
8477   2569500210         0
9773   3374500520         0

[21613 rows x 2 columns]

### 6. Qual a soma total de quartos do conjunto de dados?

In [73]:
data['bedrooms'].sum()

72854

### 7. Quantas casas possuem 2 banheiros?

In [74]:
df = data.loc[data ['bathrooms'] == 2, :]
num_houses = len (df)
num_houses

1930

### 8. Qual o preço médio de todas as casas no conjunto de dados?

In [75]:
avg_price = np.round ( data ['price'].mean(), 2)
avg_price

540088.14

### 9. Qual o preço médio de casas com 2 banheiros?

In [76]:
avg_price = np.round( data.loc[data ['bathrooms'] == 2, 'price'].mean(), 2)
avg_price

457889.72

### 10. Qual o preço mínimo entre as casas com 3 quartos?

In [77]:
min_price = np.round( data.loc[data ['bedrooms'] == 3, 'price'].min(), 2)
min_price

82000.0

### 11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?

In [78]:
houses = data.loc[data ['sqft_living'] > 300, 'id'].shape [0]
houses

21612

### 12. Quantas casas tem mais de 2 andares?

In [79]:
houses = data.loc[data ['floors'] > 2, 'id'].shape [0]
houses

782

### 13. Quantas casas tem vista para o mar?

In [80]:
houses = data.loc[data ['floors'] ==1, 'id'].shape [0]
houses

10680

### 14. Das casas com vista para o mar, quantas tem 3 quartos?

In [81]:
houses = data.loc[(data['waterfront'] == 1) & (data['bedrooms'] > 2), 'id'].shape[0]
houses

127

 ### 15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

In [82]:
houses = data.loc[(data['sqft_living'] > 300) & (data['bathrooms'] > 2), 'id'].shape[0]
houses

11242

# 2.0 Data Types

In [152]:
data.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above       float64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [153]:
data['date'] = pd.to_datetime( data['date'], format='%Y-%m-%d')

In [154]:
data.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above              float64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

# 2.1.0 NOVAS PERGUNTAS DO CEO

#### 2.1.1 Crie uma nova coluna chamada: “house_age”

• Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’;
• Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’

In [155]:
data['house_age'] = 'NA' 
data.loc[ data['date'] > '2014-01-01', 'house_age' ] = 'new_house'
data.loc[ data['date'] < '2014-01-01', 'house_age' ] = 'old_house'
data['house_age']

0        new_house
1        new_house
2        new_house
3        new_house
4        new_house
           ...
21608    new_house
21609    new_house
21610    new_house
21611    new_house
21612    new_house
Name: house_age, Length: 21613, dtype: object

#### 2.1.2 Crie uma nova coluna chamada: “dormitory_type”

• Se o valor da coluna “bedrooms” for igual à 1 => ‘studio’
• Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’
• Se o valor da coluna “bedrooms” for maior que 2 => ‘house’

In [156]:
# 1. Criar uma coluna nova, preenchida com NA
# 2. Percorrer todas as linhas do conjunto de dados. Para cada linha, comparar a coluna "bedrooms"
# 3. De acordo com a comparação, substituir o NA pelo dado valor


data['dormitory_type'] = 'NA'
for i in range( len( data ) ):
    if data.loc[i, 'bedrooms'] == 1:
        data.loc[i, 'dormitory_type'] = 'studio'

    elif data.loc[i, 'bedrooms'] == 2:
        data.loc[i, 'dormitory_type'] = 'apartment'

    elif data.loc[i, 'bedrooms'] > 2:
        data.loc[i, 'dormitory_type'] = 'house'
 
data['dormitory_type']

0            house
1            house
2        apartment
3            house
4            house
           ...
21608        house
21609        house
21610    apartment
21611        house
21612    apartment
Name: dormitory_type, Length: 21613, dtype: object

#### 2.1.3 Crie uma nova coluna chamada: “conditional_type”

- Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’
- Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’
- Se o valor da coluna “condition” for igual à 5 => ‘good’

In [157]:
 # Estrategia:
# 1. Usar a função apply junto com a lambda para ter acesso a cada linha.
# 2. Em cada linha, comparar a coluna "condition" com a condição dada.
# 3. Aplicar a condição

data['condition'] = data ['condition'].astype( int )
data['conditional_type'] = data ['condition'].apply ( lambda x: 'bad' if x <=2 else 'regular' if (x==3)| (x==4) else 'good' )
data['conditional_type']

0        regular
1        regular
2        regular
3           good
4        regular
          ...
21608    regular
21609    regular
21610    regular
21611    regular
21612    regular
Name: conditional_type, Length: 21613, dtype: object

#### 2.1.4 Modifique o TIPO a Coluna “condition” para STRING

In [158]:
data[ ['condition', 'id' ]].dtypes

condition    int32
id           int64
dtype: object

In [159]:
data['condition'] = data ['condition'].astype( str )
data[ ['condition', 'id' ]].dtypes

condition    object
id            int64
dtype: object

#### 2.1.5  Delete as colunas: “sqft_living15” e “sqft_lot15”

In [160]:
data = data.drop ( ['sqft_living15' , 'sqft_lot15'], axis =1 )
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,house_age,dormitory_type,conditional_type
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180.0,0,1955,0,98178,47.5112,-122.257,new_house,house,regular
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170.0,400,1951,1991,98125,47.7210,-122.319,new_house,house,regular
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,770.0,0,1933,0,98028,47.7379,-122.233,new_house,apartment,regular
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050.0,910,1965,0,98136,47.5208,-122.393,new_house,house,good
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680.0,0,1987,0,98074,47.6168,-122.045,new_house,house,regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0,0,...,1530.0,0,2009,0,98103,47.6993,-122.346,new_house,house,regular
21609,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0,0,...,2310.0,0,2014,0,98146,47.5107,-122.362,new_house,house,regular
21610,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0,0,...,1020.0,0,2009,0,98144,47.5944,-122.299,new_house,apartment,regular
21611,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,0,0,...,1600.0,0,2004,0,98027,47.5345,-122.069,new_house,house,regular
21612,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0,0,...,1020.0,0,2008,0,98144,47.5941,-122.299,new_house,apartment,regular

#### 2.1.6  Modifique o TIPO a Coluna “yr_build” para DATE

In [161]:
data['yr_built'] = pd.to_datetime ( data['yr_built'], format='%Y' )
data['yr_built']

0       1955-01-01
1       1951-01-01
2       1933-01-01
3       1965-01-01
4       1987-01-01
           ...
21608   2009-01-01
21609   2014-01-01
21610   2009-01-01
21611   2004-01-01
21612   2008-01-01
Name: yr_built, Length: 21613, dtype: datetime64[ns]

#### 2.1.7  Modifique o TIPO da Coluna “yr_renovated” para DATE

In [162]:
data['yr_renovated'] = data['yr_renovated'].apply( lambda x: pd.to_datetime( x, format='%Y') if x > 0 else x )
data['yr_renovated'].dtypes

dtype('O')

#### 2.1.8   Qual a data mais antiga de construção de um imóvel?

In [163]:
min_date = data['yr_built'].min().year
print( 'The oldest house is {} years old'.format( min_date ) )

The oldest house is 1900 years old

#### 2.1.10  Quantos imóveis tem 2 andares?

In [164]:
data['floors'] = data ['floors'].astype( int )
data['floors']

0        1
1        2
2        1
3        1
4        1
        ..
21608    3
21609    2
21610    2
21611    2
21612    2
Name: floors, Length: 21613, dtype: int32

In [165]:
# Estrategia:
# 1. Filtrar todoso os imóveis com 2 andares
# 2. Contar o número de linhas

houses = data[data['floors'] == 2].shape[0]
print( 'The number of houses with 2 floors is: {}'.format( houses ) )

The number of houses with 2 floors is: 8402

#### 2.1.11  Quantos imóveis estao com a condição "regular"?

In [166]:
# Estrategia
# 1. Filtrar todos os apartamentos com "condition_type" igual a "regular"
# 2. Contar o número de imóveis sob essa condição

houses = data[data['conditional_type'] == 'regular'].shape[0]
print( 'Number of Houses in "regular" condition is: {}'.format( houses ) )

Number of Houses in "regular" condition is: 19710

#### 2.1.12  Quantos imóveis estão com a condição igual a “bad”e possuem “vista para água” ?

In [167]:
# Estrategia:
# 1. Filtrar as colunas "conditional_type" igual a "bad" e "waterfront" igual a 1
# 2. Contar o número de linhas

houses = data[ (data['conditional_type'] == 'bad') & (data['waterfront'] == 1) ].shape[0]
print( "Number of Houses with water view and bad condition: {}".format( houses ) )

Number of Houses with water view and bad condition: 2

#### 2.1.13  Quantos imóveis estão com a condição igual a “good” e são “new_house”?

In [168]:
houses = data[ (data['conditional_type'] == 'good') & (data['house_age'] == 'new_house') ].shape[0]
print( "Number of new house with good conditional type is: {}".format( houses ) )

Number of new house with good conditional type is: 1701

#### 2.1.14  Qual o valor do imóvel mais caro do tipo “studio” ?

In [169]:
# Estrategia:
# 1. Filtrar as colunas "dormitory_type" igual a "studio"
# 2. Encontrar o máximo valor da coluna "price"

max_studio_price = data[data['dormitory_type'] == 'studio']['price'].max()
print( "Most expensive studio house: ${}".format( max_studio_price ) )

Most expensive studio house: $1247000.0

#### 2.1.15  Quantos imóveis do tipo “apartment” foram reformados em 2015 ?

In [170]:
# Estrategia:
# 1. Filtrar as colunas "dormitory_type" igual a "apartament" e "yr_renovated" equals to "2015-01-01"
# 2. Contar o número de linhas

houses = data[ (data['dormitory_type'] == 'apartament') & (data['yr_renovated'] == '2015-01-01') ].shape[0]
print( "Number of reformed house in 2015: {}".format( houses ) )

Number of reformed house in 2015: 0

#### 2.1.16  Qual o maior número de quartos que um imóveis do tipo “house” possui ?

In [171]:
# Estrategia:
# 1. Filtrar as colunas "dormitory type" igual a "house"
# 2. Encontrar o maior valor da coluna bedrooms

max_house_bedrooms = data[data['dormitory_type'] == 'house']['bedrooms'].max()
print( "Max number of bedrooms from a house: {}".format( max_house_bedrooms ) )

Max number of bedrooms from a house: 33

#### 2.1.17   Quantos imóveis “new_house” foram reformados no ano de 2014?

In [172]:
# Estrategia:
# 1. Filtrar as colunas "house_age" igual a "new_house" e "yr_renovated" equals to "2014-01-01"
# 2. Contar o número de linhas

houses = data[(data['house_age'] == 'new_house') & (data['yr_renovated'] == 2014 )].shape[0]
print( "Number of reformed house in 2014: {}".format(houses))

Number of reformed house in 2014: 0

#### 2.1.18   18. Selecione as colunas: “id”, “date”, “price”, “floors”, “zipcode” pelo método:

-- Direto pelo nome das colunas
-- Pelos índices
-- Pelos índices das linhas e o nome das colunas
-- Índices Booleanos

In [175]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'house_age', 'dormitory_type', 'conditional_type'],
      dtype='object')

In [177]:
### 1. Nome das colunas
df1 = data[ ['id', 'date', 'price', 'floors', 'zipcode'] ]

### Indices
df2 = data.iloc [:, [0, 1, 2, 7, 16]]

### Indices das lindhas e nome das colunas
df3 = data.loc[:, ['id', 'date', 'price', 'floors', 'zipcode']]

#### 2.1.19. Salve um arquivo .csv com somente as colunas do item 10 ao 17.

In [178]:
#data[ ['house_age', 'dormitory_type', 'conditional_type'] ].to_csv( 'exercicio18.csv' )