# 0.0 Imports

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import datetime

from matplotlib import pyplot as plt
import plotly.express as px

# 0.1 Load Dataset

In [2]:
data = pd.read_csv('kc_house_data.csv')

In [3]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

# 1.0 RESPONDENDO AS PERGUNTAS DO CEO

### 1. Quantas casas estão disponíveis para compra?

In [4]:
houses = len( data['id'].unique() )
print('o numero de casas disponiveis é de {}' .format(houses))

o numero de casas disponiveis é de 21436

### 2. Quantos atributos as casas possuem?

In [5]:
atributos = len( data.drop( (['id','date']), axis=1 ).columns)
print('o numero de atributos é de {}' .format(atributos))

o numero de atributos é de 19

### 3. Quais são os atributos das casas?

In [6]:
df = data.drop( (['id','date']), axis=1 ).columns
df

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

### 4. Qual a casa mais cara ( casa com o maior valor de venda )?

In [7]:
house_expensive = data[['id','price']].sort_values('price', ascending = False). loc[0, 'id']
house_expensive

7129300520

### 5. Qual a casa com o maior número de quartos?

In [8]:
df= data[['id', 'bedrooms']].sort_values('bedrooms', ascending = False)
df

               id  bedrooms
15870  2402100895        33
8757   1773100755        11
15161  5566100170        10
13314   627300145        10
19254  8812401450        10
...           ...       ...
19452  3980300371         0
8484   2310060040         0
875    6306400140         0
8477   2569500210         0
9773   3374500520         0

[21613 rows x 2 columns]

### 6. Qual a soma total de quartos do conjunto de dados?

In [9]:
data['bedrooms'].sum()

72854

### 7. Quantas casas possuem 2 banheiros?

In [10]:
df = data.loc[data ['bathrooms'] == 2, :]
num_houses = len (df)
num_houses

1930

### 8. Qual o preço médio de todas as casas no conjunto de dados?

In [11]:
avg_price = np.round ( data ['price'].mean(), 2)
avg_price

540088.14

### 9. Qual o preço médio de casas com 2 banheiros?

In [12]:
avg_price = np.round( data.loc[data ['bathrooms'] == 2, 'price'].mean(), 2)
avg_price

457889.72

### 10. Qual o preço mínimo entre as casas com 3 quartos?

In [13]:
min_price = np.round( data.loc[data ['bedrooms'] == 3, 'price'].min(), 2)
min_price

82000.0

### 11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?

In [14]:
houses = data.loc[data ['sqft_living'] > 300, 'id'].shape [0]
houses

21612

### 12. Quantas casas tem mais de 2 andares?

In [15]:
houses = data.loc[data ['floors'] > 2, 'id'].shape [0]
houses

782

### 13. Quantas casas tem vista para o mar?

In [16]:
houses = data.loc[data ['floors'] ==1, 'id'].shape [0]
houses

10680

### 14. Das casas com vista para o mar, quantas tem 3 quartos?

In [17]:
houses = data.loc[(data['waterfront'] == 1) & (data['bedrooms'] > 2), 'id'].shape[0]
houses

127

 ### 15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

In [18]:
houses = data.loc[(data['sqft_living'] > 300) & (data['bathrooms'] > 2), 'id'].shape[0]
houses

11242

# 2.0 Data Types

In [19]:
data.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above       float64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [20]:
data['date'] = pd.to_datetime( data['date'], format='%Y-%m-%d')

In [21]:
data.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above              float64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object